<div id="header" ng-init="getUsertype()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12 col-sm-12 col-lg-12">&nbsp;</div>
<div class="col-md-12 col-sm-12 col-lg-12">&nbsp;</div>
<div class="col-md-12 col-sm-12 col-lg-12">&nbsp;</div>
<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="col-md-4 col-sm-4 col-lg-4">&nbsp;</div>
	<div class="col-md-4 col-sm-4 col-lg-4">
		<form role="form" novalidate name="loginForm" autocomplete="off">
			<fieldset>
			    <div class="col-md-12 col-sm-12 col-lg-12 form-group has-feedback">
			       <div class="col-md-12 col-sm-12 col-lg-12" align="center">
			        <!-- <img src="" style="height: 175px; width: 175px; border-radius: 100px;"/> -->			       
			       </div>
			    </div>
				<div class="col-md-12 col-sm-12 col-lg-12 form-group has-feedback">
				<label>Mobile:</label>
	            <input id="emailId" type="text"
					name="mobile" data-ng-model="mobile" class="form-control"
					placeholder="Enter Mobile number" maxlength="10" /> <span
					data-ng-show="showEmailValidationMessage"
					class="error-message"
					data-ng-bind="emailValidationMessage"></span>
                 </div>
                 <div class="col-md-12 col-sm-12 col-lg-12 form-group has-feedback">
				      <label>Password:</label>
	                  <input id="passwordId" type="password"
				        	 name="password" data-ng-model="password" class="form-control"
					         placeholder="Enter Password" maxlength="24" /> 
                 </div>
                 <div class="col-md-12 col-sm-12 col-lg-12" align="center"><span
					         data-ng-show="loginFailure"
					         class="error-message"
					         data-ng-bind="loginErrorMessage"></span>
			     </div>
                 <div class="col-md-12 col-sm-12 col-lg-12 form-group has-feedback">
	                 <input type="submit" class="btn sign-btn btn-sm btn-block" style="background: #42210b; color: #f7f7ad"
		                    value="Login" data-ng-click='loginUser()' />
                 </div>
                 <div class="col-md-12 col-sm-12 col-lg-12">
	                 <a href="#user/forgetPassword">Forget Password?</a>
                 </div>
            </fieldset>
		</form>
	</div>
	<div class="col-md-4 col-sm-4 col-lg-4">&nbsp;</div>
</div>