<div class="managerHeader" data-ng-controller="headerController">
	<div class="col-md-12 col-lg-12 col-sm-12">
		
		<div class="nav navbar-nav col-md-10 col-lg-10 col-sm-10">
			<ul>
				<li><a href="#/admin/home">Home</a></li>
				<li><a href="#/admin/users">Users</a></li>
				<li><a href="#/admin/allBankTransactions">All Bank Transactions</a></li>
			</ul>
		</div>
		<div class="nav navbar-nav col-md-1 col-lg-1 col-sm-1">
			<ul>
				<li><a href="" data-ng-click="logoutMe()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>